body {
	background: #141414;
	min-width: 250px;
	font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
	margin-bottom: 16px;
	text-align: center;
}

h3, p, table {
	color: #e5e5e5;
}

h1 {
	color: #e50914;
	margin-bottom: 0px;
}

h3 {
	margin-top: 0px;
}

table  {
	width: 100%;
	text-align: left;
}

a, a:link, a:visited {
	color: #F5DE50;
	text-decoration: none;
	outline: none;
}

.date {
	font-weight: bold;
	color: yellow;
	text-align: right;
	width: 40px;
}